h2,
label {
    color: white
}

fieldset {
    max-width: 50%;

}

.form-control1 {
    color: white;
    background-color: rgba(248, 247, 247, 0.0);
    border-color: rgba(248, 247, 247, 0.0);
}