.bodyBackgroundGreen {
    position: relative;
    background-color: #1dc40e;
    z-index: 1;
    height: 300vh;
    min-height: max-content;



}

.wave {
    position: absolute;
    top: 0;
    transform: rotate(80deg);
    left: 0;
    z-index: -1;
}

.wave>div {
    width: 1500px;
    height: 2000px;
    margin-left: -150px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    opacity: 0.4;
    z-index: -1;


    position: absolute;
    top: 3%;
    left: 10%;
}

.wave--oneGreen {
    background: rgb(0, 255, 115);
    animation: drift 7000ms infinite linear;
}

.wave--twoGreen {
    animation: drift 3000ms infinite linear;
    opacity: 0.1;
    background: black;
}

.wave--threeGreen {
    animation: drift 7500ms infinite linear;
    background-color: #77ffa0;
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}




.bodyBackgroundBlue {
    position: relative;
    background-color: #0e6cc4;
    z-index: 1;
    height: 300vh;
    min-height: max-content;


}

.wave {
    position: absolute;
    top: 0;
    transform: rotate(80deg);
    left: 0;
    z-index: -1;
}

.wave>div {
    width: 1500px;
    height: 2000px;
    margin-left: -150px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    opacity: 0.4;
    z-index: -1;


    position: absolute;
    top: 3%;
    left: 10%;
}

.wave--oneBlue {
    background: #0af;
    animation: drift 7000ms infinite linear;
}

.wave--twoBlue {
    animation: drift 3000ms infinite linear;
    opacity: 0.1;
    background: black;
}

.wave--threeBlue {
    animation: drift 7500ms infinite linear;
    background-color: #77daff;
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}



.bodyBackgroundRed {
    position: relative;
    background-color: #c40e0e;
    z-index: 1;
    height: 300vh;
    min-height: max-content;


}

.wave {
    position: absolute;
    top: 0;
    transform: rotate(80deg);
    left: 0;
    z-index: -1;
}

.wave>div {
    width: 1500px;
    height: 2000px;
    margin-left: -150px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    opacity: 0.4;
    z-index: -1;


    position: absolute;
    top: 3%;
    left: 10%;
}

.wave--oneRed {
    background: rgb(255, 38, 0);
    animation: drift 7000ms infinite linear;
}

.wave--twoRed {
    animation: drift 3000ms infinite linear;
    opacity: 0.1;
    background: black;
}

.wave--threeRed {
    animation: drift 7500ms infinite linear;
    background-color: #ff7777;
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}




.bodyBackgroundOrange {
    position: relative;
    background-color: #c4510e;
    z-index: 1;
    height: 300vh;
    min-height: max-content;


}

.wave {
    position: absolute;
    top: 0;
    transform: rotate(80deg);
    left: 0;
    z-index: -1;
}

.wave>div {
    width: 1500px;
    height: 2000px;
    margin-left: -150px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    opacity: 0.4;
    z-index: -1;


    position: absolute;
    top: 3%;
    left: 10%;
}

.wave--oneOrange {
    background: rgb(255, 166, 0);
    animation: drift 7000ms infinite linear;
}

.wave--twoOrange {
    animation: drift 3000ms infinite linear;
    opacity: 0.1;
    background: black;
}

.wave--threeOrange {
    animation: drift 7500ms infinite linear;
    background-color: #ffa977;
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}


.bodyBackgroundPurple {
    position: relative;
    background-color: #a00ec4;
    z-index: 1;
    height: 800vh;
    min-height: max-content;


}

.wave {
    position: absolute;
    top: 0;
    transform: rotate(80deg);
    left: 0;
    z-index: -1;
}

.wave>div {
    width: 1500px;
    height: 2000px;
    margin-left: -150px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    opacity: 0.4;
    z-index: -1;


    position: absolute;
    top: 3%;
    left: 10%;
}

.wave--onePurple {
    background: rgb(140, 0, 255);
    animation: drift 7000ms infinite linear;
}

.wave--twoPurple {
    animation: drift 3000ms infinite linear;
    opacity: 0.1;
    background: black;
}

.wave--threePurple {
    animation: drift 7500ms infinite linear;
    background-color: #d877ff;
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}

.bodyBackgroundYellow {
    position: relative;
    background-color: rgb(240, 240, 4);
    z-index: 1;
    height: 800vh;
    min-height: max-content;


}

.wave {
    position: absolute;
    top: 0;
    transform: rotate(80deg);
    left: 0;
    z-index: -1;
}

.wave>div {
    width: 1500px;
    height: 2000px;
    margin-left: -150px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    opacity: 0.4;
    z-index: -1;


    position: absolute;
    top: 3%;
    left: 10%;
}

.wave--oneYellow {
    background: rgb(229, 255, 0);
    animation: drift 7000ms infinite linear;
}

.wave--twoYellow {
    animation: drift 3000ms infinite linear;
    opacity: 0.1;
    background: black;
}

.wave--threeYellow {
    animation: drift 7500ms infinite linear;
    background-color: #ebff77;
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}


.bodyBackgroundTurquoise {
    position: relative;
    background-color: turquoise;
    z-index: 1;
    height: 800vh;
    min-height: max-content;


}

.wave {
    position: absolute;
    top: 0;
    transform: rotate(80deg);
    left: 0;
    z-index: -1;
}

.wave>div {
    width: 1500px;
    height: 2000px;
    margin-left: -150px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    opacity: 0.4;
    z-index: -1;


    position: absolute;
    top: 3%;
    left: 10%;
}

.wave--oneTurquoise {
    background: rgb(12, 194, 176);
    animation: drift 7000ms infinite linear;
}

.wave--twoTurquoise {
    animation: drift 3000ms infinite linear;
    opacity: 0.1;
    background: black;
}

.wave--threeTurquoise {
    animation: drift 7500ms infinite linear;
    background-color: rgb(117, 214, 204);
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}